figure
{
    margin-right: auto;
    margin-left: auto;
}
img
{
    margin-right: auto;
    margin-left: auto;
}
h2
{
    text-decoration: underline;
    color: #23b0ff;
}

body {
   font-family: 'Fira Code', monospace;
}
hr
{
    background: white;
}
a:hover {
    color: #23b0ff;
    text-decoration: none;
}
