body select.container
{
  padding-right: 80px;
  padding-left: 80px;
}
body {
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: #1d212c;
}
.title{
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;    
}
p{
    font-weight: 100;
    color: white;
}
ol{
    color: white;
}
code{
    color: #23b0ff;
    background-color: #1d212c;
    font-size: 20px;
}

hr{
    border: 1px solid #a6a6a6;
}

h1{
    color: #23b0ff;
    text-decoration: underline;
}
h2{
    color: #23b0ff;
    text-decoration: underline;
    font-weight: 550;
    font-size: 34px;
    /*color: #23b0ff;*/
}
h3{
    font-weight: 500;
}

blockquote{
    font-size: 20px;
    background-color: #f0fff0;
}

.table:hover{
    color:#1d212c;
}


.author{
    font-size: 20px;
    font-weight: 600;
}
.date{
    font-size: 20px;
}
.creator{
    font-size: 20px;
}
img {
    margin-left:auto; 
    margin-right:auto;    
}

footer{
    background-color: #1d212c;
    color:white;
}

.src{
    background-color: black;
}

a{
    color: #45b1e8;
}
